
.logo1{
    width: 15%;
    float: left;
    box-shadow: 10px 10px 10px black;
}

.logo2{
    width: 15%;
    float: right;
    box-shadow: 10px 10px 10px black;
}

#double{
    border-style: double;
    border-width:thick;
    color: chocolate;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 4%;
}

html, body{
    background-color: rgb(255, 255, 255);

}

h1 {
    width:100%;
    font-size: 400%;
    color:chocolate;
    font-family: Zapfino;
    border-top-style: groove;
    border-bottom-style: groove;
    border-color: black;
    margin: auto;
    
}

.dropdown {
    color: black;
    padding: 16px;
    font-size: 130%;
    border: none;
    cursor: pointer;
}
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.menu-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.menu-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.menu-content a:hover {background-color: #ddd;}
  
.dropdown:hover .menu-content {display: block;}
  
.dropdown:hover .dropdown {background-color: chocolate;}

.menu{
    display: none;
}

.check{
    display: none;
}

@keyframes typing {
    from {width: 0}
    to {width: 100%;}
}

.rheading{
    color: chocolate;
    font-size: 160%;
    overflow: hidden;
    border-right: .15em chocolate;
    width: 0;
    animation: typing 10s forwards;
    white-space:nowrap; 
    text-align: center;
}

.mainpic{
    width: 60%;
    border-radius: 0%;
    display: block;
    margin-left: auto;
    margin: auto;
    justify-content: center;
    box-shadow: chocolate;
}

.mainpic:hover{
    transform: scale(1.1);
}

fieldset{
    border-color: chocolate;
    border-style:double;
}

.jtp{
    background-color: chocolate;
    color: white;
    box-shadow: 5px 5px 5px chocolate;
    border: none;
}

.jtp:hover{
    transform: scale(1.1);
}

.instructions{
    font-size: 250%;
    border-bottom-style: groove;
    text-align: center;
}


.container{
    position: relative;
    background-color: antiquewhite;
}

.image{
    position: absolute;
    left: 40%;
    bottom: 30%;
    top: 10%;
    width: 30%;
}

.ingredients{
    padding-right: 20%;
    color: black;
    font-size: 150%;
}

img{
    width: 100%;
}

.steps{
    min-width: none;
    max-width:25%;
    
}

.steps{
    min-width: none;
    max-width: 25%;
}


.steps{
    min-width: none;
    max-width: 25%;
}

.black{
    color: black;
    font-size: 150%;
}

#ratingarea{
    background-color: antiquewhite;
}

.subheadings{
    color: chocolate;
    font-size: 150%;
}

.textarea{
    border-color: chocolate;
    border-left-width: thick;
}

.rating{
    direction: rtl ;
    text-align: left;
    padding-left: 20px;
}
 
.rating input{
    display:none;
}
 
.rating label{
    width: 5%;
    display:inline-block;
    position: relative;
    cursor: pointer;
    box-shadow: 2px 2px 2px black;
}
 
.rating label::before{
    transition: all 0.5s ease-out;
    position: absolute;
    content:"\2605";
    font-size: 150%;
    display: inline-block;
    color: black;
}
 
.rating label::after{
    position: absolute;
    display: inline-block;
    content:"\2605";
    font-size: 150%;
    color: chocolate;
    opacity: 0;
}
 
.rating label:hover::after,
.rating label:hover ~ label::after,
.rating input:checked ~ label::after{
    opacity: 1;
}


.button{
    width: 10%;
    background-color: chocolate;
    font-weight:normal;
    font-size: medium;
    color: white;
    border:none;
}

.button:hover{
    transform: scale(1.2); background-color: burlyw;
    box-shadow: 10px 10px 10px chocolate;
}

footer{
    border-top-style:groove;
    text-align: right;
    font-size: large;
    color: black;
    font-family: Zapfino;
    border-color: black;
}

@media all and (max-width:1200px){
    h1{
        font-size: 250%;
    }
}


@media all and (max-width:630px){
    h1{
        font-size: 100%;
        width: 65%;
        margin: auto;
    }

   .rheading{
       font-size: 69%;
    }

   .dropdown{
     font-size:0.8em;
     padding-top: 6px;
   }

   .black{
        font-size: 95%;
    }

    .ingredients{
        font-size: 85%;
        padding-right: 20%;
    }

    .image{
        padding-left: 16%;
        padding-top: 10%;
        width: 45%;
    }

    .subheadings{
        font-size: 100%;
    }

    .textarea{
        width: 100%;
    }

    .button{
        width: 25%

    }

    .instructions{
        font-size: 150%;
    }

    .footer{
        font-size: 60%;
    }
}

@media print{
    h1{
        font-size: 150%;
    }
    
    html, body{
        background-color: none;
    }

    #ratingarea{
        display: none;
    }

    .subheadings{
        font-size: 120%;
    }

    .black{
        font-size: 110%;
    }

    .rheading{
        font-size: 120%;
        text-align: center;
    }

    .ingredients{
        font-size: 110%;
    }

    .mainpic{
        width: 50%;
    }

    .steps{
        min-width: none;
        max-width: 20%;
    }

    .jtp{
        display: none;
    }

    
}


